In [ ]:
Cost Data
Given a dictionary of items and their costs, write a calculator function to calculate the total cost of the items bought plus a given tax. Costs = {'socks':5, 'shoes':60, 'sweater':30} .Tax is at 9% . 
Items bought - 2 Socks,1 sweater, 1 shoe
#Output should be rounded to two decimal places.

In [ ]:
x = Costs = {'socks':5, 'shoes':60, 'sweater':30}

In [3]:
def calculator(item1, item2, item3):
    price1 = 5 * item1
    price2 = 60 * item2
    price3 = 30 * item3
    total_price = price1 + price2 + price3
    total_price_along_with_tax = (total_price) + (0.09 * total_price)
    return total_price_along_with_tax

In [4]:
calculator(2, 1, 1)

109.0

In [ ]:
SQL Question - What does this query do ? Explain.
SELECT
	authors.author_name,
	SUM(books.sold_copies) AS sold_sum
FROM
	authors
LEFT JOIN books ON
	books.book_name = authors.book_name
GROUP BY
	authors.author_name
ORDER BY
	sold_sum DESC
LIMIT 3;

In [ ]:
TTT, HHH, HHT,HTH,TTH,THT, THH